<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h5>{{error}}</h5>
  <form class="" action="/login" method="post">
    <label for="user">Digite su Usuario</label><br>
    <input type="email" name="user" value="{{user}}" required><br>
    <label for="pass">Digite su Contraseña</label><br>
    <input type="password" name="pass" required><br><br>
    <input type="submit" name="login" value="Ingresar">
  </form>
</body>

</html>
