<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini"><b>G</b>P</span>
    <span class="logo-lg"><b>Gestión</b> Proyectos</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <!--<img style="border-radius: 50%;" src="/img/Director.png" class="user-image" alt="User Image">-->
            <img style="border-radius: 50%;" src="/img/Integrante.png" class="user-image" alt="User Image">
            <span class="hidden-xs">German Donoso</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header flex-centered" style="flex-direction:column">
              <!--<img style="border-radius: 50%;" src="/img/Director.png" class="user-image" alt="User Image">-->
              <img style="border-radius: 50%;" src="/img/Integrante.png" class="user-image" alt="User Image">
              <p>
                German Donoso
                <small>Administrador</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-right">
                <a href="" class="btn btn-default btn-flat" onclick="window.location.href='Controllers/logout.php';">Salir</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
