<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img style="border-radius: 50%;" src="/img/Integrante.png" class="user-image" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.name}}</p>
        <a class="seleccionable" href="/logout"><i class="fa fa-circle text-success"></i> Salir</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">Opciones de navegación</li>
      <li class="header">Poyecto {{project}}
        <a href="/integrant/out" class="btn btn-primary btn-block">
          <i class="fa fa-outdent" aria-hidden="true"></i>
        </a>
      </li>
      <li class="treeview">
        <a href="/listmeeting/list">
          <i class="fa fa-building"></i>
          <span>Reuniones</span>
          <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/listmeeting/list"><i class="fa fa-circle-o"></i>Listar</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
