<section class="content-header">
  <h1>
        <b>Inicio</b>
    </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i>Inicio</a></li>
  </ol>
</section>
<hr>
<section class="content flex-centered">
  <h1>Bienvenido {{user.name}}</h1>
</section>
